Preprocessing of cars dataset

In [61]:
import pandas as pd

In [62]:
df=pd.read_csv(r"C:\Users\ayush\Downloads\CarsDataset.csv")

In [64]:
df.head(5)

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,"$36,945","$33,337",3.5,6.0,265.0,17.0,23.0,4451.0,106.0,189.0
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,"$23,820","$21,761",2.0,4.0,200.0,24.0,31.0,2778.0,101.0,172.0
2,Acura,TSX 4dr,Sedan,Asia,Front,"$26,990","$24,647",2.4,4.0,200.0,22.0,29.0,3230.0,105.0,183.0
3,Acura,TL 4dr,Sedan,Asia,Front,"$33,195","$30,299",3.2,6.0,270.0,20.0,28.0,3575.0,108.0,186.0
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,"$43,755","$39,014",3.5,6.0,225.0,18.0,24.0,3880.0,115.0,197.0

In [65]:
print(df.shape)

(432, 15)

In [66]:
print(df.isnull().sum())

Make           4
Model          4
Type           4
Origin         4
DriveTrain     4
MSRP           4
Invoice        4
EngineSize     4
Cylinders      6
Horsepower     4
MPG_City       4
MPG_Highway    4
Weight         4
Wheelbase      4
Length         4
dtype: int64

In [67]:
cols=df.columns

In [68]:
for i in cols:
    
    if df[i].dtype=='float64':
        
        
        print(i)
        df[i].fillna(df[i].mean(),inplace=True)

EngineSize
Cylinders
Horsepower
MPG_City
MPG_Highway
Weight
Wheelbase
Length

In [69]:
print(df.isnull().sum())

Make           4
Model          4
Type           4
Origin         4
DriveTrain     4
MSRP           4
Invoice        4
EngineSize     0
Cylinders      0
Horsepower     0
MPG_City       0
MPG_Highway    0
Weight         0
Wheelbase      0
Length         0
dtype: int64

In [70]:
df=df.dropna()

In [71]:
df.isnull().sum()

Make           0
Model          0
Type           0
Origin         0
DriveTrain     0
MSRP           0
Invoice        0
EngineSize     0
Cylinders      0
Horsepower     0
MPG_City       0
MPG_Highway    0
Weight         0
Wheelbase      0
Length         0
dtype: int64

In [72]:
for i in cols:
    print(i)
    print(df[i].value_counts())

Make
Toyota           28
Chevrolet        27
Mercedes-Benz    26
Ford             23
BMW              20
Audi             19
Honda            17
Nissan           17
Volkswagen       15
Chrysler         15
Mitsubishi       13
Dodge            13
Volvo            12
Jaguar           12
Hyundai          12
Pontiac          11
Mazda            11
Subaru           11
Lexus            11
Kia              11
Mercury           9
Buick             9
Lincoln           9
Infiniti          8
GMC               8
Cadillac          8
Suzuki            8
Saturn            8
Saab              7
Porsche           7
Acura             7
Land Rover        3
Oldsmobile        3
Jeep              3
Scion             2
MINI              2
Isuzu             2
Hummer            1
Name: Make, dtype: int64
Model
C240 4dr                       2
C320 4dr                       2
G35 4dr                        2
Crown Victoria LX Sport 4dr    1
GS 430 4dr                     1
                              ..
S60 R 4dr                      1
Altima S 4dr                   1
Astro                          1
Grand Cherokee Laredo          1
Santa Fe GLS                   1
Name: Model, Length: 425, dtype: int64
Type
Sedan     262
SUV        60
Sports     49
Wagon      30
Truck      24
Hybrid      3
Name: Type, dtype: int64
Origin
Asia      158
USA       147
Europe    123
Name: Origin, dtype: int64
DriveTrain
Front    226
Rear     110
All       92
Name: DriveTrain, dtype: int64
MSRP
$25,700     2
$13,270     2
$21,595     2
$35,940     2
$19,635     2
           ..
$32,495     1
$36,100     1
$57,270     1
$32,280     1
$12,360     1
Name: MSRP, Length: 410, dtype: int64
Invoice
$68,306     2
$14,207     2
$19,638     2
$13,904     1
$57,499     1
           ..
$28,330     1
$24,282     1
$29,812     1
$24,172     1
$30,846     1
Name: Invoice, Length: 425, dtype: int64
EngineSize
3.0    42
3.5    34
2.0    30
2.5    26
2.4    23
1.8    23
4.6    21
4.2    20
3.2    18
3.8    17
2.2    15
2.3    13
3.4    12
2.7    12
1.6    10
3.3    10
5.0     8
4.0     8
4.3     8
6.0     6
1.5     6
4.7     5
3.6     5
4.4     5
5.3     5
2.8     4
1.7     4
4.5     4
3.9     4
5.5     3
3.7     3
2.9     3
5.7     3
2.6     3
1.9     3
5.4     2
1.3     2
5.6     2
4.8     2
6.8     1
3.1     1
1.4     1
8.3     1
Name: EngineSize, dtype: int64
Cylinders
6.000000     190
4.000000     136
8.000000      87
5.000000       7
12.000000      3
5.807512       2
10.000000      2
3.000000       1
Name: Cylinders, dtype: int64
Horsepower
200.0    17
215.0    14
210.0    14
225.0    13
240.0    13
         ..
145.0     1
73.0      1
148.0     1
161.0     1
335.0     1
Name: Horsepower, Length: 110, dtype: int64
MPG_City
18.0    69
20.0    57
17.0    41
21.0    38
19.0    37
16.0    31
24.0    22
26.0    22
22.0    18
15.0    17
14.0    13
13.0    12
25.0     9
29.0     7
32.0     7
23.0     7
28.0     5
12.0     4
35.0     2
10.0     2
60.0     1
31.0     1
59.0     1
36.0     1
46.0     1
33.0     1
27.0     1
38.0     1
Name: MPG_City, dtype: int64
MPG_Highway
26.0    54
25.0    44
28.0    38
29.0    34
27.0    28
24.0    25
30.0    24
23.0    16
21.0    16
19.0    16
31.0    15
33.0    14
20.0    13
22.0    13
34.0    11
18.0    11
32.0    10
17.0     9
35.0     8
37.0     5
36.0     5
38.0     3
40.0     3
51.0     2
16.0     2
43.0     2
39.0     1
13.0     1
66.0     1
44.0     1
12.0     1
14.0     1
46.0     1
Name: MPG_Highway, dtype: int64
Weight
3450.0    4
3285.0    4
3175.0    4
3217.0    3
3197.0    3
         ..
3925.0    1
5086.0    1
3594.0    1
3825.0    1
2778.0    1
Name: Weight, Length: 348, dtype: int64
Wheelbase
107.0    45
103.0    30
106.0    27
112.0    25
104.0    24
105.0    21
115.0    20
109.0    17
111.0    17
102.0    16
101.0    16
110.0    15
108.0    14
113.0    13
119.0    12
95.0     11
98.0     11
99.0     11
114.0    10
93.0      9
118.0     8
116.0     7
100.0     7
96.0      5
121.0     5
130.0     4
123.0     4
97.0      3
124.0     3
89.0      2
144.0     2
122.0     2
126.0     2
133.0     2
129.0     2
128.0     2
140.0     1
120.0     1
131.0     1
137.0     1
Name: Wheelbase, dtype: int64
Length
178.0    27
190.0    22
187.0    17
192.0    16
188.0    15
         ..
211.0     1
227.0     1
160.0     1
238.0     1
165.0     1
Name: Length, Length: 67, dtype: int64

In [73]:

df[df["Origin"].isin(["Asia","Euorpe"])]

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,"$36,945","$33,337",3.5,6.0,265.0,17.0,23.0,4451.0,106.0,189.0
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,"$23,820","$21,761",2.0,4.0,200.0,24.0,31.0,2778.0,101.0,172.0
2,Acura,TSX 4dr,Sedan,Asia,Front,"$26,990","$24,647",2.4,4.0,200.0,22.0,29.0,3230.0,105.0,183.0
3,Acura,TL 4dr,Sedan,Asia,Front,"$33,195","$30,299",3.2,6.0,270.0,20.0,28.0,3575.0,108.0,186.0
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,"$43,755","$39,014",3.5,6.0,225.0,18.0,24.0,3880.0,115.0,197.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
400,Toyota,MR2 Spyder convertible 2dr,Sports,Asia,Rear,"$25,130","$22,787",1.8,4.0,138.0,26.0,32.0,2195.0,97.0,153.0
401,Toyota,Tacoma,Truck,Asia,Rear,"$12,800","$11,879",2.4,4.0,142.0,22.0,27.0,2750.0,103.0,191.0
402,Toyota,Tundra Regular Cab V6,Truck,Asia,Rear,"$16,495","$14,978",3.4,6.0,190.0,16.0,18.0,3925.0,128.0,218.0
403,Toyota,Tundra Access Cab V6 SR5,Truck,Asia,All,"$25,935","$23,520",3.4,6.0,190.0,14.0,17.0,4435.0,128.0,218.0
404,Toyota,Matrix XR,Wagon,Asia,Front,"$16,695","$15,156",1.8,4.0,130.0,29.0,36.0,2679.0,102.0,171.0

In [74]:
df=df[df["Weight"]>5000]

In [75]:
df.shape

(21, 15)